.statistics {
    width: 450px;
    text-align: center;
    background-color: rgb(165, 195, 203);
    font-size: 20px;
    box-shadow: 15px 15px 55px rgba(0, 0, 0, 0.1);
}
.title {
    margin: 0;
    padding: 10px;
}
.statList {
    margin: 0;
    display: flex;
    justify-content: space-around;
}
.item {
    display: flex;
    flex-direction: column;
    background-color: rgb(168, 203, 165);
    padding: 10px 24px;
}
